.input-group{
    margin:20px;
}
.form1{
    margin-top:30px !important;
}
.form-control{
    padding:8px;
}
.form1 .form-control{
    padding:20px;
}
.form1 .input-group-addon{
    padding:10px 15px;
}